<div class="stage-shelf hidden" id="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Red/Four</li>
    <li>
      <a href="/"><i class="icon icon-home"></i> Welcome to Red:4</a>
    </li>

    <li class="nav-header">Getting Started Manual</li>

    {% for post in site.posts reversed %}
    <li>
        <a href="{{post.url}}">
          {% if post.category == "email" %}
          <i class="fa fa-envelope"></i>
          {% else %}
          <i class="fa fa-file-text"></i>
          {% endif %}
          {{post.title}}

        </a>
    </li>
    {% endfor %}

  </ul>
</div>
